.header{
    width: 100%;
    height: 51px;
    background: white;
}
.container{
    width: 100%;
    height: 5000px;
    background-color: white;
}

body{
    margin: 0;
    overflow: visible;
}

.mainhead{
    position: -webkit-sticky;
    position: sticky;
    z-index: 9999;
    top: 0;
}
.locationimage{
     float: left;
}
.img{
    float: left;
    margin-top: 18px;
    margin-left: 411px;
}
.allow{
    float: left;
    font-size: 14px;
    font-style: normal;
    padding-left: 19px;
    margin-top: 19px;
    font-family: "National 2 Regular";
    line-height: 24px;
}
.topbutton{
    margin-top: 13px;
    margin-left: 27px;
    border-radius: 12px;
    font-size: 12px;
    height: 32px;
    color: white;
    background: black;
    font-family: "National2-Medium";
    font-style: normal;
    border: 1px;
    font-weight: 400;
    width: 99px;
    text-align: center;
    overflow: visible;
    cursor: pointer;
}
.fullnavbar{
    width: 100%; 
    height: 107px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white; 
}
.rightnavdiv{
    display:inline-flex;
    margin-left: -91px;
    cursor: pointer;
    position: sticky;
    z-index: 9999;
    top: 0;
    
}
.right{
    font-family: "National 2 medium",sans-serif;
    font-weight: 500;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
}
 
.leftnavdiv{
    display: flex;
    align-items: center;
    column-gap: 15px;
    position: sticky;
    z-index: 9999;
    top: 0;
}
.bucket{
    display: flex;
    width: 52px;
    padding-left: 35px;
    padding-right: 35px;
    margin-right: -155px;
    filter: drop-shadow(1px 1px 1px rgb(241, 237, 237));
    cursor: pointer;
}
.left{
    
    display: contents;
    font-family: "National 2 medium",sans-serif;
    font-weight: 700;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    text-align: right;
    cursor: pointer;

}
.rupees{
    
    margin-right: -50px;
    cursor: pointer;
}
    
.black{
    width: 100%;
    height: 66px;
    background: black;
    position: sticky;
    display: flex;
    justify-content: center;
    column-gap: 25px;
}
.letsorderdiv{
    width: 38%;
    height: 59%;
    font-family: monospace;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -1px;
    text-align: right;
    color: white;
    margin-top: 5px;

}
.startbuttondiv{
    width: 25%;
    height: 90%;
    margin-top: 5px;
}
button{
    background: rgb(224, 32, 32);
    color: rgb(241, 232, 232);
    text-decoration: none;
    font-family: ui-sans-serif;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    height: 40px;
    border: 0;
    border-radius: 32.5px;
    transition-duration: .3s;
    transition-property: background;
    width: 175px;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 5px;
}
button:hover{
 
    color: #f50e0e;
}
.firstbackdiv{
    width: 100%;
    height: 340px;
    background: gold;

}
.mainmenudiv{
    display: flex;
    width: 80%;
    height: 261px;
    margin-left: 140px;
    margin-right: 80px;
    
}
.browsediv{
    box-sizing: border-box;
    display: flex;
    margin-left: 8px;
    margin-right: 8px;
    width: 57%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 43px;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #202124;
    margin-top: 94px;
    text-align: left;
    height: 27%;
}
.linediv{
    display: flex;
    box-sizing: border-box;
    margin-left: 2px;
    margin-right: 8px;
    height: 20%;
    width: 109%;
    margin-top: 13%;
    border-top: #e4d9d9;
    border-style: solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.pickmenudiv{
    width: 1024px;
    margin:auto
    
}

.grids{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    margin: auto;
    column-gap: 25px;
    row-gap: 22px;
    width: 1000px;
    

}
.gridbox{
    box-sizing:border-box;
    border-width: 10px;
    background: #f8f7f5;
    text-align: center;
    cursor: pointer;
    display:grid;
    text-decoration: none;


}
.gridbox img{
    width: 17.89vw;
    height: 13.4vw;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: #202124;
    vertical-align:centre;
    
    
    
}
.gridbox h3{
    color: #202124;
    font-family:sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 20px;
}
.gridboxarrow h3{
    margin-left: 30px;
    margin-top: 10px;

    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
    letter-spacing: .5px;
    line-height: 24px;
    cursor: pointer;
}
    
.gridboxarrow{
    width: 220px;
    margin: auto;
    height: 219px;
    display: grid;
    background: #f8f7f5;;
}
.gridboxarrow img{
    margin-top: 20px;
    margin-left: 1px;
    width: 192px;
    border-radius: 4px;
    box-shadow: #202124;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.offercontainerdiv{
    background: #202124;
    margin-top: 90px;
    margin-left: 0px;
    margin-right: 0px;
    width: 1263px;
    height: 766px;
}
.offercarddiv{
    margin-left: 200px;
    width: 1063px;
    height: 766px;
    margin-top: 0px;
    background: #202124;
}
.icondiv{
    background: #202124;
    margin-left: 36px;
    margin-bottom: 51.8px;
    width: 1027px;
    height: 58px;
}
.box{
    display: inline-block;
    width: 20px;
    height: 44px;
}
.red{
    background: rgb(228 ,0,0) ;
}
.exclusivediv{
    margin-left: 36px;
    margin-bottom: 40px;
    width: 1028px;
    height: 51px;
    background: #202124;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.exh{
    font-size: 24px;
    font-weight: 900;
    line-height: ;
    text-decoration: none;
    text-transform:uppercase;
    letter-spacing: 1px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
} 
.viewdiv{
    margin-right: 160px;
    width: 117px;
    height: 27px;
    color: white;
}
.view{
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.offercardcontainerdiv{
    width: 1063px;
    height: 581px;
    margin-top: 66px;
   
}
.cardlistdiv{
    width: 1126px;
    height: 565px;
    background-color: #202124;
    display: flex;
    flex-direction: column;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
}
.listdiv{
    width: 1126px;
    height: 398px;
    margin-bottom: 66px;
    background-color:#202124;
    display: flex;
}
.sliderlistdiv{
    width: 1126px;
    height: 398px;
    display: flex;
}
.carddiv{
    width: 310px;
    height: 398px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
    background-color: white;
    color: #202124;
    margin-left: 37px;
}
.carddiv img{
    width: 310px;
    height: 234px;
}
.cardcontent{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.5;
    color: #212529;
    width: 270px;
    height: 91px;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.titlecard{
    width: 270px;
    height: 43px;
    font-family: National 2 Regular;;
    font-size: 30px;
    font-weight: 700;
    line-height: 43px;
    color: #e4002b;
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
}
.cardpara{
    width: 270px;
    height: 48px;
    color: #202124;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 14px;
    font-family:  National 2 Regular;;
    display: -webkit-box;
}
.butoonoffer{
    display: flex;
    width: 100%;
    height: 46px;
    margin-bottom: 30px;
    align-items: baseline;
    text-align: center;
    justify-content: space-around;
}
.viewbutton:hover{
    background-color: lightgrey;
    color: #202124;
}
.viewbutton{
    border: none;
    background: none;
    text-decoration: underline;
    padding: initial;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #494949;
    width: 78px;
    height: 24px;
    font-family:  National 2 Regular;;
    background-color: transparent;
}
.applybutton:hover{
    color: white;
    background-color: #212529;

}
.applybutton{
    padding-left: 44px;
    padding-right: 44px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 180px;
    height: 50px;
    border: 1px solid #202124;
    cursor: pointer;
    margin-left: 5px;
    background: none;
    color: #494949;
   font-size: 14px;
   line-height: 24px;
   font-weight: 500;
   font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; ;;
}
.rangeinput{
    margin:22px;
    width: 901px;
    height: 3px;
    margin-bottom: 93px;
    outline: none;
    background: #494949;
    border-radius: 5%;
    appearance: none;
    initial-value: 2;
}
.linebottom{
    width: 901px;
    height: 24px;
    margin-left: 22px;
    margin-bottom: 93px;
}
.footerdiv{
    background-color: #202124;
    width: 100%;
    height: 360px;
}
.blackfooter{
    width: 1152px;
    height: 296px;
    padding-left: 64px;
    padding-top: 64px;
    padding-right: 64px;
}
.columfooter{
    width: 1152px;
    height: 156px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 46px;
    margin-top: 23px;
    display: inline-flex;
    font-family: "National 2 Regular";
    font-size: 14px;
    justify-content: space-evenly;
}
.logofooter{
    width: 60px;
    height: 156px;
    cursor: pointer;
}
.categoryitems{
    display: inline-flex;
    justify-content: space-evenly;
    margin-left: 23px;
    width: 483px;
    height: 156px;
    font-family: "National 2 Regular";
    
}
.uldivtitle{
    width: 139px;
    height: 156px;
    font-family: "National 2 Regular";
}
.footerul{
    margin-bottom: 16px;
    text-align: left;
    width: 200px;
    height: 111px;
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}
.footerul a{
    padding-right: 40px;
    font-family: "National 2 Regular";
    font-weight: 700;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    color: #e3e3e3;
    font-size: 14px;
}
.uldivtitle h5{
    margin-bottom: 10px;
    color: #e3e3e3;
    font-size: 12px;
    font-family: "National 2 Regular";
    margin-top: 0px;
}
.footerlist{
    list-style: none;
    color: #e3e3e3;
    font-size: 14px;
    font-weight: 400;
    font-family: "National 2 Regular";;
    font-style: normal;
    margin-top: 5px;
}
.locationlogo{
    width: 103px;
    height: 157px;

}
.locationlogo img{
    width: 11px;
    height: 15px;
    margin-right: 7px;
}
.logoa{
    text-decoration: underline;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    line-height: 22px;
    background-color: transparent;
}
.socialbuttons{
    width: 266px;
    height: 156px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    column-gap: 5%;
}
.socialbuttons img{
    width: 119px;
    height: 40px;
    cursor: pointer;
}
.footerlastdiv{
    width: 100%;
    height: 50px;
    background-color: #202124;
    margin: 0;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 1152px;
    height: 34px;
    text-align: center;
    margin-left: 46px;
    margin-right: -15px;
    font-family: "National 2 Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    padding-bottom: 14px;
    line-height: 22px;
}
.colm{
    display: flex;
    align-items: center;
    
    height: 34px;
    width: 800px;
}
.copypara{
    text-align: end;
    width: 668px;
    height: 15px;
    color: #dbdbdb;
    line-height: 12px;
    font-family: "National 2 Regular";
    font-size: 12px;
}
.colmsocial{
    margin-right: 46px;
    width: 120px;
    height: 34px;
    display: flex;
    flex-direction: column;
}
.icons{
    text-align: right;
    width: 128px;
    height: 34px;
}
.colmsocial li{
    display: inline-block;
    margin-bottom: 4px;
    margin-left: 10px;
    list-style: none;
    width: 30px;
    height: 30px;
}
.colmsocial a{
    color: #202124;
    font-family: "National 2 Regular";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    text-decoration-line: none;
    cursor: pointer;
    background-color: transparent;
}
.colmsocial img{
    vertical-align: middle;
    cursor: pointer;
    border-style: none;
    width: 30px;
    height: 30px;
}